<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/custom.css">
	<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
	<script src="/socket.io/socket.io.js"></script>
	<title>Login</title>
</head>

<body>
	<div class="container">
		<span class="avatar"></span>
		<form action="" method="post">
			<div class="tk">
				<input type="text" name="taikhoan" placeholder="Username...">
			</div>
			<div class="mk">
				<input type="password" name="matkhau" placeholder="Password...">
			</div>
			<div class="btn">
				<input type="submit" value="Login">
			</div>
		</form>
	</div>
</body>

</html>